@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400&display=swap');
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.hr{
  width: 100%;
  height: 1px;
  color:#F35646;
  border-width:0;
  background-color:#F35646;
}


body {
  height: 100%
}
#sidebar-wrapper {
  font-family: 'Kanit';
  min-height: 89vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}
#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}
#sidebar-wrapper .sidebar-heading2 {
  padding: 4rem 1.25rem 1rem 1.25rem;
  font-size: 1rem;
}
#sidebar-wrapper .role {
  background: linear-gradient(90deg, rgba(57,224,219,1) 0%, rgba(13,146,24,1) 100%);
  border-radius: 5px;
  color: white;
  padding: 1%;
  width: 80%;
  font-size: 0.9vw;
}
#sidebar-wrapper .role1 {
  background: linear-gradient(171deg, rgba(127,14,24,1) 0%, rgba(253,99,157,1) 100%);
  border-radius: 5px;
  color: white;
  padding: 1%;
  width: 80%;
  font-size: 0.9vw;
}
#sidebar-wrapper .row {
  display: flex;
}
#sidebar-wrapper .pic {
  background: black;
  border-radius: 50%;
  color: white;
  padding: 1%;
  width: 100%;
  height: 10vh;
}
#sidebar-wrapper .name {
  padding-top: 6%;
  font-size: 1vw;
}
#sidebar-wrapper .btncreate {
  padding-top: 15%;
  font-size: 1.3vw;
}
.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
  top: 0;
  background-color: white;
}
#sidebar-wrapper .list-group {
  width: 15rem;
}
#page-content-wrapper {
  min-width: 100vw;
}
#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}
@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}
.container-fluid{
padding: 0 !important;
}
.pad-img-pro{
  padding-left: 5% !important;
  padding-right: 0 !important;
}
span{
  margin-left: 5%;
}
.icon{
  position: relative;
  top: 0.7vh;
  color: #F35646;
}
.btnplus{
  width: 100%;
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
  color: white;
}
mat-icon{
color: #F35646;
}
.active{
  border-left: solid 5px #F35646;
  color: black;
  background-color:#fff6f6;
}
.padl{
  padding-top: 1vw;
  padding-left: 5%;
  padding-right: 5%;
}
.bornon{
  border-top: none !important;
  border-bottom: none !important;
}
.heightslide{
  height: 80vh;
}
