<app-navbar></app-navbar>
<div class="d-flex">
  <!-- Sidebar -->
  <div *ngIf="token && !checkteach" class="heightslide toggled make-me-sticky" id="wrapper">
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading2">
        <div class="row">
          <div class="col-5 pad-img-pro">
            <div class="pic"></div>
          </div>
          <div class="col align-self-center">
            <div class="name">{{name}} {{lastname}}</div>
            <div *ngIf="checkteach" class="role shadow text-center">{{rolethai}}</div>
            <div *ngIf="!checkteach" class="role1 shadow text-center">{{rolethai}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center btncreate">
            <button class="btnplus">สร้างข้อสอบ</button>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush">
        <button (click)="toggle1()" [ngClass]="{ 'active' : valuemenu == 1 }" [routerLink]="['/profile']" class="bornon list-group-item list-group-item-action">
          <mat-icon class="icon">account_box</mat-icon><span>โปรไฟล์</span>
        </button>
        <button (click)="toggle2()" [ngClass]="{ 'active' : valuemenu == 2 }" [routerLink]="['/dash-teacher']" class="bornon list-group-item list-group-item-action">
          <mat-icon class="icon">library_books</mat-icon><span>คลังข้อสอบ</span>
        </button>
        <button (click)="toggle3()" [ngClass]="{ 'active' : valuemenu == 3 }" [routerLink]="['/report']" class="bornon list-group-item list-group-item-action">
          <mat-icon class="icon"> show_chart</mat-icon><span>รายงาน</span>
        </button>
        <button (click)="toggle4()" [ngClass]="{ 'active' : valuemenu == 4 }" [routerLink]="['/setting']" class="bornon list-group-item list-group-item-action">
          <mat-icon class="icon">settings</mat-icon><span>ตั้งค่า</span>
        </button>
        <div class="text-center padl">
          <hr class="hr">
        </div>
        <button (click)="onLogoutClick()" class="list-group-item list-group-item-action"><i
            class="material-icons icon">logout</i><span>ออกจากระบบ</span></button>
      </div>
    </div>
  </div>
  <div *ngIf="token && checkteach" class="heightslide toggled make-me-sticky shadow" id="wrapper">
    <div class="border-right" id="sidebar-wrapper">
      <div class="sidebar-heading2">
        <div class="row">
          <div class="col-5 pad-img-pro">
            <div class="pic"></div>
          </div>
          <div class="col align-self-center">
            <div class="name">{{name}} {{lastname}}</div>
            <div *ngIf="checkteach" class="role shadow text-center">{{rolethai}}</div>
            <div *ngIf="!checkteach" class="role1 shadow text-center">{{rolethai}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center btncreate">
            <button [routerLink]="['/join-room']" class="btnplus">เข้าร่วม</button>
          </div>
        </div>
      </div>
      <div class="list-group list-group-flush">
        <button (click)="toggle1()" [ngClass]="{ 'active' : valuemenu == 1 }" [routerLink]="['/profile']" class="bornon list-group-item list-group-item-action">
          <mat-icon class="icon">account_box</mat-icon><span>โปรไฟล์</span>
        </button>
        <button (click)="toggle3()" [ngClass]="{ 'active' : valuemenu == 3 }" [routerLink]="['/report']" class="bornon list-group-item list-group-item-action">
          <mat-icon class="icon"> show_chart</mat-icon><span>รายงาน</span>
        </button>
        <button (click)="toggle4()" [ngClass]="{ 'active' : valuemenu == 4 }" [routerLink]="['/setting']" class="bornon list-group-item list-group-item-action">
          <mat-icon class="icon">settings</mat-icon><span>ตั้งค่า</span>
        </button>
        <div class="text-center padl">
          <hr class="hr">
        </div>
        <button (click)="onLogoutClick()" class="list-group-item list-group-item-action"><i
            class="material-icons icon">logout</i><span>ออกจากระบบ</span></button>
      </div>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->
