body{
  height: 100%;
}
.img-size{
  width: 100%;
  height: auto;
}
.bg{
  background-image: url("../../../assets/image/bg-regis.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.size-test{
  min-width: 100%;
  height: 88vh;
}
.login{
  width: 32%;
  height: auto;
  background-color: white;
  border-radius: 5px;
  padding: 2%;
  position: relative;
  left: 50%;
  top:50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Kanit';
}
.forget-text{
  position: relative;
  top: 43%;
  color: blue;
  font-size: 1vw;
}
.regis-text{
  position: relative;
  top: 59%;
  font-size: 1vw;
}
.link-blue{
  color: blue;
}
.mar-t5{
  margin-top: 5%;
}
.mar-t4{
  margin-top: 4%;
}
.mar-t2{
  margin-top: 2%;
}
.mar-t10{
  margin-top: 6%;
}
.btn-login{
  width: 80%;
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
  padding: 2%;
  color: white;
  font-size: 1vw;
}
.btn-login-g{
  width: 80%;
  background: #FF4A4A;
  border: none;
  border-radius: 5px;
  padding: 2%;
  color: white;
  font-size: 1vw;
}
.btn-login-f{
  width: 80%;
  background: #4D5AF7;
  border: none;
  border-radius: 5px;
  padding: 2%;
  color: white;
  font-size: 1vw;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: .25em;
}
.separator::after {
  margin-left: .25em;
}
.logo-log{
  width: 1.5vw;
}
.icon-face{
  background-image : url("../../../assets/icon/facelogin.svg");
  background-size: cover;
  display: inline-block;
  height: 1.5vw;
  width: 1.5vw;
  position: absolute;
  left: 17%;
}
.icon-goo{
  background-image : url("../../../assets/icon/googlelogin.svg");
  background-size: cover;
  display: inline-block;
  height: 1.5vw;
  width: 1.5vw;
  position: absolute;
  left: 17%;
}
.marbot0{
  margin-bottom: 0px;
}
