<div class="size-test bg">

  <div class="login shadow">

    <div class="row">
      <div class="col text-center">
        <h2>เข้าสู่ระบบ</h2>
      </div>
    </div>
    <flash-messages></flash-messages>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>ชื่อผู้ใช้</label>
          <input type="text" [(ngModel)]="username" name="name" class="form-control">
        </div>
        <div class="form-group marbot0">
          <label>รหัสผ่าน</label>
          <input type="text" [(ngModel)]="password" name="password" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col forget-text">
        <a><small>ลืมรหัสผ่าน?</small></a>
      </div>
    </div>

    <div class="row mar-t5">
      <div class="col text-center">
        <button class="btn-login" (click)="onLoginSubmit()">เข้าสู่ระบบ</button>
      </div>
    </div>

    <div class="row regis-text mar-t2">
      <div class="col">
        <small>ยังไม่มีบัญชีผู้ใช้ ? <a class="link-blue" (click)="GotoRegister()">คลิกตรงนี้</a>
          เพื่อสมัครสมาชิก</small>
      </div>
    </div>

    <div class="row mar-t5">
      <div class="col text-center separator">
        <hr>หรือ
        <hr>
      </div>
    </div>

    <div class="row mar-t5">
      <div class="col text-center">
        <button class="btn-login-f" disabled><i class="icon-face"></i>เข้าสู่ระบบด้วย facebook</button>
      </div>
    </div>

    <div class="row mar-t4">
      <div class="col text-center">
        <button class="btn-login-g" disabled><i class="icon-goo"></i>เข้าสู่ระบบด้วย google</button>
      </div>
    </div>

  </div>
</div>
