.img {
  border: 1px solid rgb(121, 118, 118);
  border-radius: 2%;
}
div {
  font-family: "Kanit";
}

  .head-section{
    width: 100%;
    height: 120px;
    background-color: rgb(182, 183, 250);
}
.banner-text{
    color: #ffffff;
    margin: 30px auto;
}
.profile-img-section{
    height: auto;
    width: auto;
    border-radius: 5%;
}
.profile-img{
    border-radius: 5%;
}
.profile-details-section{
    margin: 50px auto;
    height: 300px;
}
.text1{
    width: 100%;
}
.text2{
    height: 25px;
    margin-top: 30px;
    width: 65%;
}
.text3{
    height: 25px;
    margin-top: 30px;
    width: 80%;
}
.text4{
    height: 25px;
    margin-top: 30px;
    width: 95%;
}

.head-section:empty, .profile-img-section:empty, .text1:empty, .text2:empty, .text3:empty, .text4:empty{
    animation: loading 1.1s infinite linear;
    background: #dedfe1;
    background-image: -webkit-linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-image: linear-gradient(to right, #dedfe1 0%, #f2f3f5 20%, #dedfe1 40%, #dedfe1 100%);
    background-repeat: no-repeat;
}

@keyframes loading {
    0% {
      background-position: -100px;
    }
    100% {
    background-position: 200px;
    }
  }
