
<div class="d-flex flex-column bd-highlight mb-3 align-items-center">
<div class="card mb-3 shadow align-self-center justify-content-center" style="max-width: 50%; margin: 1%; ">
  <small class="card-header text1">{{text1}}</small>
  <div class="row no-gutters">
    <div class="col-md-6 profile-img-section" style="padding: 2%; min-width: 250px; min-height: 250px;">
      <img *ngIf="profileImg" src="../../../assets/image/book.jpg" class="card-img img profile-img" alt="...">
    </div>
    <div class="col-md-6 profile-img-section" style="padding: 2%; min-width: 250px; min-height: 250px;">
      <img *ngIf="profileImg" src="../../../assets/image/book.jpg" class="card-img img profile-img" alt="...">
    </div>
  </div>
</div>
</div>
<div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div>
<div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div><div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div><div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div><div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div><div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div><div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div><div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div><div class="card mb-3 shadow" style="max-width: 23%; margin: 1%; float: left;">
  <small class="card-header">นายไม้เอก ไม้โท</small>
  <div class="row no-gutters">
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
    <div class="col-md-6" style="padding: 2%;">
      <img src="../../../assets/image/book.jpg" class="card-img img " alt="...">
    </div>
  </div>
</div>

