.button-color {
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
  margin-left: 0.8em;
  width: 40%;
  height: 5vh;
  float: right;
  display: block;
  word-wrap: break-word;
  white-space: normal;
  color: white;
  font: bold;
  font-size: 1vw;
  text-align: center;
  font-family: 'kanit';
}
.button-color2 {
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
  margin-left: 0.8em;
  width: 60%;
  height: 5vh;
  float: right;
  display: block;
  word-wrap: break-word;
  white-space: normal;
  color: white;
  font: bold;
  font-size: 1.2vw;
  text-align: center;
  font-family: 'kanit';
}
.icon{
  width: 4%;
  height: 4%;
}
.padnav{
  padding-left: 2% !important;
  padding-right: 2% !important;
  padding-top: 1%;
  padding-bottom: 1%;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgb(248, 222, 199) 100%) !important ;
}
.colorname{
  text-shadow: 2px 1px rgb(197, 94, 9);
  margin-bottom: 0px !important;
}
h3{
  margin-bottom: 0px !important;
  font-size: 2vw;
  font-family: 'Kanit';
}
span{
  color: #F03838;
}
.menu-login-logout{
  width: 20%;
  display: flex;
}
.book{
  width: 2vw;
  height: auto;
  float: right;
  justify-content: center;
  align-items: center;
}
nav{
  transition: 0.3s ease;
}
nav.nav--hidden {
  transform: translateY(-100%);
}
