<nav ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'" class="navbar navbar-expand-md navbar-light bg-light site-header sticky-top shadow padnav">

  <button *ngIf="token" (click)="togglebtn()" id="menu-toggle" mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="icon" src="../../../assets/icon/icon.png" (click)="Gotohome()">

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="Gotohome()">
          <h3><span>L</span>ive Exam</h3>
        </a>
      </li>
    </ul>

    <div class="menu-login-logout">
      <img *ngIf="!token" class="book align-items-center" src="../../../assets/icon/Icon material-class.png">
      <button *ngIf="!token" class="button-color shadow" (click)="goRegister()">สมัครสมาชิก</button>
      <button *ngIf="!token" class="button-color shadow" (click)="goLogin()">ลงชื่อเข้าใช้</button>

    </div>

  </div>
</nav>
