.flex {
  display: flex;
  width: 100%;
}
.search {
  width: 90%;
  height: 8vh;
  background-color: white;
  border-radius: 5px;
}
.listbox {
  margin-top: 2%;
  width: 90%;
  height: auto;
  min-height: 60vh;
  background-color: white;
  border-radius: 5px;
}
.rowheight {
  height: 100%;
}
.text1 {
  border-right: solid 2px #f35646;
  height: 100%;
}

::ng-deep .mb-3 {
  margin-bottom: 0 !important;
}

::ng-deep .input-group-text {
  border: none;
  background-color: white;
}

div {
  font-family: "Kanit";
}
.title-dash {
  color: white;
}
.titletext {
  background-color: #f35646;
  padding: 0.5%;
  font-size: 1vw;
}
.mart {
  border-radius: 5px 0 0 0;
  border-right: solid 2px white;
}
.marr {
  border-radius: 0 5px 0 0;
  border-left: solid 2px white;
}
.marr2 {
  border-radius: 0 0 0 0;
  border-left: solid 2px white;
}
.bor-r {
  border-right: solid 2px white;
}
.bor-l {
  border-left: solid 2px white;
}
.border-list {
  border: solid 1px rgba(0, 0, 0, 0.37);
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.btnadd {
  background: linear-gradient(
    90deg,
    rgba(240, 56, 56, 1) 0%,
    rgba(253, 176, 110, 1) 100%
  );
  border: none;
  border-radius: 5px;
  padding: 6px;
  color: white;
}
.pad-row {
  padding: 5px;
}
.btn-manage {
  background: white;
  border: none;
  border-radius: 90%;
  margin-left: 10%;
  height: 100%;
}
.icon-size{
  font-size: 1.3vw;
  width: auto;
  height: auto;
  position: relative;
  top: 10%;
}
::ng-deep .page-item.active .page-link {
  background-color: #f35646;
  border-color: red;
}
.imagebg{
  height:auto; background-size:cover; width:auto;
  background-image:url('../../../assets/image/backgroundorg.png');
  background-position:50% 50%;
  min-height: 100vh;
}
