<div class="d-flex imagebg flex-column bd-highlight mb-3 align-items-center text-center">
  <div class="search shadow">
    <div class="row rowheight flex align-items-center">
      <div class="col-2 text1 flex justify-content-center align-items-center">
        <div>
          วิชา ({{count}})
        </div>
      </div>
      <div class="col-3 flex align-items-center">
        <div class="input-group mb-3">
        </div>
      </div>
      <div class="col flex justify-content-end align-items-center">
        <button class="btnadd shadow" (click)="openModal()">เพิ่มวิชา</button>
      </div>
    </div>
  </div>
  <div class="listbox shadow">

    <div class="row title-dash">
      <div class="col-2 mart titletext">
        รหัสวิชา
      </div>
      <div class="col titletext marr2">
        ชื่อวิชา
      </div>
      <div class="col titletext marr2">
        อาจารย์ผู้สอน
      </div>
      <div class="col-2 titletext marr">

      </div>
    </div>

    <div class="row" *ngFor="let list of Sublist | slice:(page-1)*pageSize : (page-1) * pageSize + pageSize">
      <div class="col-2 border-list pad-row">
        {{list.codeSubject}}
      </div>
      <div class="col border-list pad-row">
        {{list.nameSubject}}
      </div>
      <div class="col border-list pad-row">
        {{list.Teacher}}
      </div>
      <div class="col-2 border-list pad-row">
        <button class="btn-manage" title="ดูชุดข้อสอบ" style="margin-left: 0%;" (click)="goExamList(list._id)"><mat-icon class="icon-size"> search </mat-icon></button>
        <button class="btn-manage " title="แก้ไขวิชา" (click)="edit(list)"><mat-icon class="icon-size"> edit </mat-icon></button>
        <button class="btn-manage " title="ลบวิชา" (click)="Delete(list._id,list.nameSubject)"><mat-icon class="icon-size"> delete_forever </mat-icon></button>
      </div>
    </div>

  </div>
  <div style="margin-top: 0.5%;">
  <ngb-pagination *ngIf="count!=0" [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
