<div class="d-flex flex-column bd-highlight mb-3 align-items-center">

  <div class="listbox shadow align-self-center justify-content-center">

    <div class="row title-dash">
      <div class="col mart titletext">
      </div>
    </div>

    <div class="row">
      <br>
    </div>

    <!-- head -->
    <div class="row" style="padding:2%">
      <div class="col text-center">
        <h1>เข้าร่วมห้องสอบ</h1>
      </div>
    </div>

    <div class="row">
      <br>
      <br>
      <br>
    </div>

    <div class="row text-center">
      <div class="col text-center">
      </div>
      <div class="col text-center">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="code" [(ngModel)]="code">
        </div>
      </div>
      <div class="col text-center">
      </div>
    </div>

    <div class="row">
      <br>
      <br>
      <br>
    </div>

    <!-- button -->
    <div class="row" style="padding:2%">
      <div class="col text-center">
        <button class="btn" (click)="goToWaitingRoom()">เข้าร่วม</button>
      </div>
    </div>

  </div>
</div>
