<div class="modal-header">
  <h4 class="modal-title">แก้ไขวิชา</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

    <div class="form-group">

      <div class="form-group">
        <label for="exampleInputEmail1" ><b>รหัสวิชา</b></label>
        <input type="text" class="form-control" [(ngModel)]="code" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1"><b>ชื่อวิชา</b></label>
        <input type="text" class="form-control" [(ngModel)]="name" required>
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1"><b>อาจารย์ประจำวิชา</b></label>
        <input type="text" class="form-control" [(ngModel)]="teacher" required>
      </div>

    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="Update()">บันทึก</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">ยกเลิก</button>
</div>
