<div class="d-flex imagebg flex-column bd-highlight mb-3 align-items-center text-center">
  <div class="search shadow">
    <div class="row rowheight flex align-items-center">
      <div class="col-2 text1 flex justify-content-center align-items-center">
        <div>
          หมวดหมู่การศึกษา ({{count}})
        </div>
      </div>
      <div class="col-3 flex align-items-center">
        <div class="input-group mb-3">
        </div>
      </div>
      <div class="col flex justify-content-end align-items-center">
        <button class="btnadd shadow" (click)="openVideoPopup()">เพิ่มหมวดหมู่</button>
      </div>
    </div>
  </div>
  <div class="listbox shadow">

    <div class="row title-dash">
      <div class="col mart titletext">
        หมวดหมู่การศึกษา
      </div>
      <div class="col-2 titletext marr">

      </div>
    </div>

    <div class="row" *ngFor="let list of examlist | slice:(page-1)*pageSize : (page-1) * pageSize + pageSize">
      <div class="col border-list pad-row">
        {{list.Education_category+" "+list.GradeLevel}}
      </div>
      <div class="col-2 border-list pad-row">
        <button class="btn-manage" style="margin-left: 0%;" title="ดูวิชา" (click)="goListSub(list._id)"><mat-icon class="icon-size"> search </mat-icon></button>
        <button class="btn-manage " title="แก้ไขหมวดหมู่การศึกษา" (click)="edit(list)"><mat-icon class="icon-size"> edit </mat-icon></button>
        <button class="btn-manage " title="ลบหมวดหมู่การศึกษา" (click)="Delete(list._id)"><mat-icon class="icon-size"> delete_forever </mat-icon></button>
      </div>
    </div>

  </div>
  <div style="margin-top: 0.5%;">
  <ngb-pagination *ngIf="count!=0" [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
