<div class="modal-header">
  <h4 class="modal-title">เพิ่มหมวดหมู่การศึกษา</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

    <div class="form-group">

      <label><b>หมวดหมู่การศึกษา</b></label>
      <select class="form-control" [(ngModel)]="Education_category">
        <option *ngFor="let item of level" value={{item.value}}>{{item.value}}</option>
      </select>

      <br/>
      <label *ngIf="Education_category=='ประถมศึกษา'||Education_category=='มัธยมศึกษา'"><b>ปีที่</b></label>

      <select *ngIf="Education_category=='ประถมศึกษา'||Education_category=='มัธยมศึกษา'" class="form-control" [(ngModel)]="GradeLevel">
        <option *ngFor="let item of pnum" value={{item.value}}>{{item.value}}</option>
      </select>

      <div *ngIf="Education_category=='อุดมศึกษา'" class="form-group">
        <label for="exampleInputEmail1"><b>คณะ/สำนักวิชา</b></label>
        <input type="text" class="form-control" [(ngModel)]="title">
      </div>

    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="createExamlist()">บันทึก</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">ยกเลิก</button>
</div>
