<div class="d-flex imagebg flex-column bd-highlight mb-3 align-items-center text-center">
  <div class="search shadow">
    <div class="row rowheight flex align-items-center">
      <div class="col-2 text1 flex justify-content-center align-items-center">
        <div>
          ข้อสอบ ({{count}})
        </div>
      </div>
      <div class="col-3 flex align-items-center">
        <div class="input-group mb-3">
        </div>
      </div>
      <div class="col flex justify-content-end align-items-center">
        <button class="btnadd shadow" (click)="goToCreateExam(idExamList)">เพิ่มข้อสอบ</button>
      </div>
    </div>
  </div>
  <div class="listbox shadow">

    <div class="row title-dash">
      <div class="col mart titletext">
        หัวข้อ
      </div>
      <div class="col titletext marr">
        คะแนนเต็ม
      </div>
      <div class="col titletext marr">
        เกณฑ์การผ่าน
      </div>
      <div class="col titletext marr">
        เวลา
      </div>
      <div class="col-2 titletext marr">

      </div>
    </div>

    <div class="row" *ngFor="let list of examList | slice:(page-1)*pageSize : (page-1) * pageSize + pageSize">
      <div class="col border-list pad-row">
        {{list.title}}
      </div>
      <div class="col border-list pad-row">
        {{list.Point}}
      </div>
      <div class="col border-list pad-row">
        {{list.rate}}%
      </div>
      <div class="col border-list pad-row">
        {{list.timecount}} นาที
      </div>
      <div class="col-2 border-list pad-row">
        <button class="btn-manage" title="สร้างการสอบ" style="margin-left: 0%;" (click)="goCreateRoom(list._id)"><mat-icon class="icon-size"> play_circle_filled </mat-icon></button>
        <button class="btn-manage " title="แก้ไขข้อสอบ" (click)="goToEditExam(list._id)"><mat-icon class="icon-size"> edit </mat-icon></button>
        <button class="btn-manage " title="ลบข้อสอบ" (click)="Delete(list._id,list.title)"><mat-icon class="icon-size"> delete_forever </mat-icon></button>
      </div>
    </div>

  </div>
  <div style="margin-top: 0.5%;">
  <ngb-pagination *ngIf="count!=0" [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
