<div class="modal-header">
  <h4 class="modal-title">ยืนยันการลบหมวดหมู่การศึกษา</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="margin-top: 1rem;margin-bottom: 1rem;">

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">หมวดการศึกษา</span>
    </div>
    <input type="text" class="form-control textt-center" [(ngModel)]="title" disabled>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-danger" (click)="DeleteEducat()">ยืนยัน</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">ยกเลิก</button>
</div>
