.flex {
  display: flex;
  width: 100%;
}
.search {
  width: 90%;
  height: 8vh;
  background-color: white;
  border-radius: 5px;
}
.listbox {
  margin-top: 2%;
  width: 70%;
  height: auto;
  background-color: white;
  border-radius: 5px;
}
.listbox2 {
  margin-top: 2%;
  width: 90%;
  height: 50vh;
  background-color: #ffc0ba;
  border-radius: 5px;
}
.rowheight {
  height: 100%;
}
.text1 {
  border-right: solid 2px #f35646;
  height: 100%;
}

::ng-deep .mb-3 {
  margin-bottom: 0 !important;
}

::ng-deep .input-group-text {
  border: none;
  background-color: white;
}

div {
  font-family: "Kanit";
}
.title-dash {
  color: white;
}
.head-text{
  color: #f35646;
  font-size: 2vw;
  padding-top: 1.5vh;
}
.col-center{
  display: flex;
  align-items: center;
}
.titletext {
  background-color: #f35646;
  padding: 0.5%;
  font-size: 1vw;
}
.mart {
  border-radius: 5px 5px 0 0;
  border-right: solid 2px white;
}
.marr {
  border-radius: 0 5px 0 0;
  border-left: solid 2px white;
}
.bor-r {
  border-right: solid 2px white;
}
.bor-l {
  border-left: solid 2px white;
}

.img {
  border: 2px solid white;
  width: auto;
  height: 90%;
  border-radius: 90%;
  padding-top: 5%;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.margin-col-text{
  margin-left: 6vw;
  margin-right: 6vw;
}
.margin-col-text-left{
  margin-left: 6vw;

}
.margin-col-text-right{

  margin-right: 6vw;
}
.margin-col-text2{
  margin-left: 4vw;
  margin-right: 4vw;
}
.name {
  font-size: 2vw;
}
.role {
  background: linear-gradient(
    90deg,
    rgba(57, 224, 219, 1) 0%,
    rgba(13, 146, 24, 1) 100%
  );
  border-radius: 5px;
  color: white;
  padding: 0.4%;
  width: 10%;
  font-size: 1.1vw;
}
.btn {
  background: linear-gradient(
    90deg,
    rgba(240, 56, 56, 1) 0%,
    rgba(253, 176, 110, 1) 100%
  );
  border: none;
  border-radius: 5px;
  padding: 6px;
  color: white;
  margin-top: 1vh;
}
.btn:hover {
  background: linear-gradient(
    90deg,
    rgb(219, 18, 18) 0%,
    rgb(233, 143, 64) 100%
  );
  border: none;
  border-radius: 5px;
  padding: 6px;
  color: white;
}
