<div class="d-flex flex-column bd-highlight mb-3 align-items-center">
  <div class="listbox shadow" style="margin-bottom: 8vh;">
    <div class="row title-dash">
      <div class="col mart titletext">
      </div>
    </div>

    <!--บัญชี-->
    <div class="row mt-3">
      <div class="col margin-col-text2 head-text col-center"><img style="height: 6vw;"
          src="../../../assets/icon/settingIcon.png"> การตั้งค่า</div>
    </div>
    <div class="row">
      <div class="col col-center margin-col-text  mt-2">
        <mat-icon>account_circle</mat-icon> <span class="align-middle">บัญชี</span>
      </div>
    </div>
    <div class="row">
      <div class="col margin-col-text mt-2">Email</div>
    </div>
    <div class="row">
      <div class="col margin-col-text mt-2"><input type="text" class="form-control" placeholder="Email" [(ngModel)]="email" disabled></div>
    </div>
    <div class="row">
      <div class="col margin-col-text mt-2">Username</div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2"><input type="text" class="form-control" placeholder="" [(ngModel)]="username" disabled></div>
    </div>
    <div class="row">
      <div class="col margin-col-text mt-2">ชื่อโปรไฟล์</div>
    </div>
    <div class="row">
      <div class="col margin-col-text-left  mt-2"><input type="text" class="form-control" placeholder="" [(ngModel)]="name"></div>
      <div class="col margin-col-text-right  mt-2"><input type="text" class="form-control" placeholder="" [(ngModel)]="lastname"></div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2"><button class="btn btn-block">บันทึกการเปลี่ยนแปลง</button></div>
    </div>

    <!--รหัสผ่าน-->
    <div class="row mt-5">
      <div class="col col-center margin-col-text">
        <mat-icon>lock</mat-icon>รหัสผ่าน
      </div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2">รหัสผ่านเดิม</div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2"><input type="text" class="form-control" placeholder=""></div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2">รหัสผ่านใหม่</div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2"><input type="text" class="form-control" placeholder=""></div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2">ยืนยันรหัสผ่าน</div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2"><input type="text" class="form-control" placeholder=""></div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2"><button class="btn btn-block">บันทึกรหัสผ่าน</button></div>
    </div>

    <!--ลบบัญชี-->
    <div class="row mt-5">
      <div class="col col-center margin-col-text">
        <mat-icon>delete_forever</mat-icon>ลบบัญชี
      </div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2">ลบบัญชีของคุณอย่างถาวร</div>
    </div>
    <div class="row">
      <div class="col margin-col-text  mt-2" style="margin-bottom: 5vh;"><button
          class="btn btn-block">ลบบัญชีถาวร</button></div>
    </div>

  </div>
</div>
