<div class="d-flex flex-column bd-highlight mb-3 align-items-center">
  <div class="listbox shadow">
    <div class="row title-dash">
      <div class="col mart titletext">
      </div>
    </div>
    <div class="row">
      <div class="col-2 text-center" style="height: 23.5vh;">
        <img src="https://api.sololearn.com/Uploads/Avatars/868188.jpg" class="img" />
      </div>
      <div class="col align-self-center">
        <div class="name">{{name}} {{lastname}}</div>
        <div class="role shadow text-center">{{rolethai}}</div>
      </div>
    </div>

  </div>
  <div class="listbox2 shadow">

  </div>
</div>
