<div class="d-flex imagebg flex-column bd-highlight mb-3 align-items-center">

  <div class="listbox shadow">

    <div class="row title-dash">
      <div class="col mart titletext">
      </div>
    </div>

    <!-- head -->
    <div class="row" style="padding:2%">
      <div class="col">
        ชื่อข้อสอบ {{examlist.title}}
      </div>
      <div class="col text-right">
        <div class="input-group mb-3" style="width: 50%; float: right;">
          <span class="input-group-text"><img class="book align-items-center" src="../../../assets/icon/Icon material-class.png">code</span>
          <input type="text" [(ngModel)]="code" class="form-control text-center" placeholder="code room" disabled>
          <button class="form-control" ngxClipboard [cbContent]="code" (cbOnSuccess)="isCopied1 = true" (cbOnError)="onCopyFailure()" [class.btn-success]="isCopied1">copy
          </button>
        </div>
      </div>
    </div>

    <!-- head detail -->
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col">
        จำนวนข้อสอบ : {{examlist.Examlist.length}}
      </div>
    </div>
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col">
        เวลา : {{examlist.timecount}} นาที
      </div>
    </div>
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col">
        คะแนนเต็ม : {{examlist.Point}}
      </div>
    </div>

    <!-- border bottom -->
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col bor-b"></div>
    </div>

    <!-- body -->
    <div class="row" style="padding:2%">
      <!-- 1 -->
      <div class="col">
        <div class="row">
          เลือกรูปแบบการสอบ
        </div>
        <div class="row">
          <br>
        </div>
        <div class="row">
          <br>
        </div>
        <div class="row">
          <br>
        </div>
        <div class="row">
          <div class="form-check">
            <input class="form-check-input" (change)="onChange($event)" value="Instant Feedback" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Instant Feedback
            </label>
          </div>
        </div>
        <div class="row">
          <div class="form-check">
            <input class="form-check-input" (change)="onChange($event)" value="Open Nevigation" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Open Nevigation
            </label>
          </div>
        </div>
      </div>
      <!-- 2 -->
      <div class="col">
        <div class="row">
          <br>
        </div>
        <div class="row">
          ตั้งค่าเพิ่มเติม
        </div>
        <div class="row">
          <br>
        </div>
        <div class="row">
          <div class="custom-control custom-switch">
            <input type="checkbox" [(ngModel)]="RandomQ" class="custom-control-input" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">สลับคำถาม</label>
          </div>

        </div>
        <div class="row">
          <div class="custom-control custom-switch">
            <input type="checkbox" [(ngModel)]="RandomA" class="custom-control-input" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">สลับคำตอบ</label>
          </div>

        </div>
        <div class="row">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch3">
            <label class="custom-control-label" for="customSwitch3">วิดีโอคอล</label>
          </div>

        </div>
        <div class="row">
          <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch4">
            <label class="custom-control-label" for="customSwitch4">แชร์หน้าจออุปกรณ์</label>
          </div>
        </div>
      </div>
    </div>


    <!-- border bottom -->
    <div class="row" style="padding-left:2%;padding-right:2%;">
      <div class="col bor-b"></div>
    </div>

    <!-- button -->
    <div class="row" style="padding:2%">
      <div class="col text-right">
        <button class="btn" (click)="goToWaitingRoom()">ถัดไป</button>
      </div>
    </div>

  </div>
</div>
