.container{
max-width: 100%;
padding: 0;
}
.img-home{
  width: auto;
  height: 40%;
}
.imgsize{
  width: 100%;
  height: auto;
  max-width: 100%;
}
.nopading{
  padding: 0px !important;
}
.row{
  margin-left: 0px;
  margin-right: 0px;
}
.first-col{
  background-image: url("../../../assets/image/L.jpg");
  background-repeat: no-repeat;
  background-size: 22vw;
  /*background-attachment: fixed,scroll;*/
  background-position: 40% 50%;
}
.text1{
  padding-left: 10%;
  padding-top: 24%;
  font-family: 'Kanit';
  font-weight: 300;
  color: #707070;
}
.text2{
  padding-left: 10%;
  padding-top: 10%;
  font-size: 2vw;
  font-family: 'Kanit';
  font-weight: bold;
  color: #4E4E4E;
}
.text3{
  padding-left: 10%;
  padding-top: 4%;
  padding-right: 5%;
  font-size: 1vw;
  font-family: 'Kanit';
  font-weight: 300;
  color: #4E4E4E;
}
.text4{
  padding-left: 10%;
  padding-top: 13%;
  font-size: 1vw;
  font-family: 'Kanit';
  font-weight: 300;
  color: #4E4E4E;
}
.text5{
  padding-left: 10%;
  padding-top: 0.5%;
}
.text6{
  padding-top: 5%;
  font-size: 2vw;
  font-family: 'Kanit';
  font-weight: normal;
  color: #4E4E4E;
}
.btn-start{
  width: 20%;
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1vh;
  font-size: 1vw;
  font-family: 'Kanit';
}
.img-size-sec2{
  width: 20vw;
  height: auto;
  padding-top: 5%;
}
.text-sec2-head{
  padding-top: 1%;
  font-size: 1.5vw;
  font-family: 'Kanit';
  font-weight: normal;
  color: #4E4E4E;
}
.text-sec2-content{
  padding-top: 1%;
  font-size: 1vw;
  font-family: 'Kanit';
  font-weight: normal;
  color: #4E4E4E;
  padding-left: 5%;
  padding-right: 5%;
}
.foot{
  margin-top: 10%;
  padding: 2%;
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
}
.foot-text1{
  color: #FFFFFF;
  font-size: 1vw;
  font-family: 'Kanit';
  font-weight: normal;
  padding-top: 10%;
}
.foot-text2{
  color: #FFFFFF;
  font-size: 1vw;
  font-family: 'Kanit';
  font-weight: normal;
  padding-top: 9%;
  padding-bottom: 10%;
}
.foot-logo{
  width: 2vw;
  height: auto;
  padding-left: 4%;
}
