<div class="container">

  <div class="row">
    <div class="col first-col">
      <div class="text1"><small>WE ARE A FULL SERVICE</small></div>
      <div class="text2">LIVE EXAM</div>
      <div class="text3">
        LIVE EXAM เว็บไซต์ที่ให้บริการระบบสอบออนไลน์ มอบประสบการณ์ใหม่
        ในการสอบออนไลน์ด้วยรูปแบบที่หลากหลายของการสอบและระบบควบคุม
        การสอบที่มีความปลอดภัยสูง
      </div>
      <div class="text4" *ngIf="!token">เริ่มเลย !!</div>
      <div class="text5" *ngIf="!token"><button class="btn-start" [routerLink]="['/login']">GET START</button></div>
    </div>
    <div class="col-7 nopading">
      <div class="img-home">
        <img class="imgsize" src="../../../assets/image/img-home.jpg">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col text-center text6">
      ทำไมต้องใช้ Live Exam ในการสอบ ?
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <img class="img-size-sec2" src="../../../assets/image/book.jpg" >
    </div>
    <div class="col text-center">
      <img class="img-size-sec2" src="../../../assets/image/computer.jpg" >
    </div>
    <div class="col text-center">
      <img class="img-size-sec2" src="../../../assets/image/videocall.jpg" >
    </div>
  </div>

  <div class="row">
    <div class="col text-center text-sec2-head">
      รูปแบบข้อสอบที่หลากหลาย
    </div>
    <div class="col text-center text-sec2-head">
      แชร์หน้าจออุปกรณ์
    </div>
    <div class="col text-center text-sec2-head">
      วิดีโอคอลกลุ่ม
    </div>
  </div>

  <div class="row">
    <div class="col text-center text-sec2-content">
      เมื่อสร้างข้อสอบสามารถสร้างข้อสอบในหลายรูปแบบ
เช่น รูปแบบเติมคำในช่องว่าง รูปแบบเลือกตอบคำตอบเดียว
รูปแบบเรียงลำดับเหตุการณ์ เป็นต้น
    </div>
    <div class="col text-center text-sec2-content">
      ทำการแชร์หน้าจอเพื่อทำแน่ใจว่า
ไม่ได้เปิดโปรแกรมอื่น เพื่อทำการทุจริตการสอบ
    </div>
    <div class="col text-center text-sec2-content">
      โทรวิดีโอกลุ่มเพื่อยืนยันว่า
ผู้เรียนทำข้อสอบด้วยตัวเอง
    </div>
  </div>

  <div class="row foot">
    <div class="row">
      <div class="col-12 foot-text1">
        @Live Exam
      </div>
      <div class="col-12 foot-text2">
        follow us
        <img class="foot-logo" src="../../../assets/icon/Icon awesome-facebook.svg">
        <img class="foot-logo" src="../../../assets/icon/Icon awesome-line.svg">
        <img class="foot-logo" src="../../../assets/icon/Icon awesome-twitter-square.svg">
      </div>
    </div>
  </div>

</div>
