
body{
  height: 100%;

}
.img-size{
  width: 100%;
  height: auto;

}
.bg{
  background-image: url("../../../assets/image/bg-regis.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.size-test{
  min-width: 100%;
  height: 88vh;
}
.box-register{
  width: 32%;
  height: auto;
  padding: 2%;
  background-color: white;
  display: block;
  position: fixed;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  font-family: 'Kanit';
}
.padding-img{
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.pading-but{
  padding-bottom: 7vh;
}
.btn-submit-p1{
  width: 80%;
  background: white;
  border: none;
  border-radius: 5px;
  color: black;
  border: black solid 1px;
}
/*.btn-submit-p1:focus{
  width: 80%;
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
}*/
.btn-submit-p1.active{
  width: 80%;
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
}
.btn-submit-p2{
  width: 80%;
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
}
.btn-submit{
  width: 40%;
  background: linear-gradient(90deg, rgba(240,56,56,1) 0%, rgba(253,176,110,1) 100%);
  border: none;
  border-radius: 5px;
}
@media only screen and (max-width: 900px) {
  .size-test{
    min-width: 100%;
    height: 95vh;
  }
  .box-register{
    width: 50%;
    height: auto;
    padding: 2%;
    background-color: white;
    display: block;
    position: fixed;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
}
@media only screen and (max-width: 700px) {
  .size-test{
    min-width: 100%;
    height: 95vh;
  }
  .box-register{
    width: 50%;
    height: auto;
    padding: 2%;
    background-color: white;
    display: block;
    position: fixed;
    top: 55%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
  }
}
