<div class="size-test bg">

  <div class="box-register shadow" *ngIf="show">
    <div class="row">
      <div class="col">
        <h2 class="page-header text-center">สมัครสมาชิก</h2>
      </div>
    </div>

    <flash-messages></flash-messages>

    <div class="row">
      <div class="col">
        <div class="text-center padding-img">
          <img class="img-size" src="../../../assets/image/teacher.jpg">
        </div>
      </div>
      <div class="col">
        <div class="text-center padding-img">
          <img class="img-size" src="../../../assets/image/student.jpg">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center pading-but">
          <button [ngClass]="{ 'active' : isValue == 1 }" (click)="teacher();toggle1();"
            class="btn btn-primary btn-submit-p1" type="button">อาจารย์</button>
        </div>
      </div>
      <div class="col">
        <div class="text-center pading-but">
          <button [ngClass]="{ 'active' : isValue == 2 }" (click)="student();toggle2();"
            class="btn btn-primary btn-submit-p1" type="button">นักเรียน</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <input type="button" *ngIf="!pass" (click)="Togglehide()" class="btn btn-primary btn-submit" value="ถัดไป"
            disabled>
          <input type="button" *ngIf="pass" (click)="Togglehide()" class="btn btn-primary btn-submit" value="ถัดไป">
        </div>
      </div>
    </div>
  </div>


  <div class="box-register shadow" *ngIf="!show">
    <div class="row">
      <div class="col">
        <h2 class="page-header text-center">สมัครสมาชิก</h2>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <small class="text-center">กรุณาใช้ email ของโรงเรียนหรือสถานที่ทำงานเท่านั้น</small>
      </div>
    </div>
    <flash-messages></flash-messages>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>ชื่อ</label>
          <input type="text" [(ngModel)]="name" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label>นามสกุล</label>
          <input type="text" [(ngModel)]="lasname" name="lasname" class="form-control">
        </div>
        <div class="form-group">
          <label>ชื่อผู้ใช้</label>
          <input type="text" [(ngModel)]="username" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label>รหัสผ่าน</label>
          <input type="password" [(ngModel)]="password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <label>อีเมล</label>
          <input type="text" [(ngModel)]="email" name="email" class="form-control">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="text-center">
          <input type="button" (click)="Togglehide()" class="btn btn-primary btn-submit-p2" value="ย้อนกลับ">
        </div>
      </div>
      <div class="col">
        <div class="text-center">
          <input type="button" (click)="onRegisterSubmit()" class="btn btn-primary btn-submit-p2" value="ยืนยัน">
        </div>
      </div>
    </div>
  </div>
</div>
