<div class="modal-header">
  <h4 class="modal-title">แก้ไขหมวดหมู่การศึกษา</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

    <div class="form-group">
      <label><b>หมวดหมู่การศึกษา</b></label>
      <select class="form-control" [(ngModel)]="list.Education_category">
        <option *ngFor="let item of level" value={{item.value}}>{{item.value}}</option>
      </select>
      <br/>
      <label *ngIf="list.Education_category=='ประถมศึกษา'||list.Education_category=='มัธยมศึกษา'"><b>ปีที่</b></label>
      <select *ngIf="list.Education_category=='ประถมศึกษา'||list.Education_category=='มัธยมศึกษา'" class="form-control" [(ngModel)]="list.GradeLevel">
        <option *ngFor="let item of pnum" value={{item.value}}>{{item.value}}</option>
      </select>
      <div *ngIf="list.Education_category=='อุดมศึกษา'" class="form-group">
        <label for="exampleInputEmail1"><b>คณะ/สำนักวิชา</b></label>
        <input type="text" class="form-control" [(ngModel)]="title">
      </div>

    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-success" (click)="Update()">บันทึก</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">ยกเลิก</button>
</div>
