.flex {
  display: flex;
  width: 100%;
  height: 100%;
}
.search {
  width: 90%;
  height: 8vh;
  background-color: white;
  border-radius: 5px;
}
.listbox {
  margin: 2%;
  width: 30%;
  height: auto;
  background-color: white;
  border-radius: 5px;
}
.listbox2 {
  margin-top: 2%;
  width: 90%;
  height: auto;
  background-color: #ffc0ba;
  border-radius: 5px;
}
.listbox3 {
  margin-top: 2%;
  width: 90%;
  height: auto;
  min-height: 45vh;
  background-color: white;
  border-radius: 5px;
}
.rowheight {
  height: 100%;
}
.text1 {
  border-right: solid 2px #f35646;
  height: 100%;
}

::ng-deep .mb-3 {
  margin-bottom: 0 !important;
}

::ng-deep .input-group-text {
  border: none;
  background-color: white;
}

div {
  font-family: "Kanit";
}
.title-dash {
  color: white;
}
.titletext {
  background-color: #f35646;
  padding: 0.5%;
  font-size: 1vw;
}
.mart {
  border-radius: 5px 5px 0 0;
  border-right: solid 2px white;
}
.marr {
  border-radius: 0 5px 0 0;
  border-left: solid 2px white;
}
.bor-r {
  border-right: solid 2px white;
}
.bor-l {
  border-left: solid 2px white;
}
.head-text{
  color: #f35646;
  font-size: 1.8vw;
}
.body-text{
  font-size: 1vw;
}
.btn {
  background: linear-gradient(
    90deg,
    rgba(240, 56, 56, 1) 0%,
    rgba(253, 176, 110, 1) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1vw;
}
.btn:hover {
  background: linear-gradient(
    90deg,
    rgb(219, 18, 18) 0%,
    rgb(233, 143, 64) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1vw;
}
.row{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.card-head{
  padding: 3%;
  background-color: #f35646;
  margin-top: -5%;
}
.icon-size{
  height: 8vh !important;
  width: auto !important;
  font-size: 8vh;
  color: white;
}
.surway{
  background: linear-gradient(
    90deg,
    rgb(190, 0, 232) 0%,
    rgb(255, 160, 247) 100%
  );
}
.people{
  background: linear-gradient(
    90deg,
    rgb(0, 136, 255) 0%,
    rgb(67, 225, 236) 100%
  );
}
.Cchart{
  background: linear-gradient(
    90deg,
    rgb(233, 145, 3) 0%,
    rgb(249, 232, 78) 100%
  );
}
.text-num{
  font-size: 4vh;
}

.btnadd {
  background: linear-gradient(
    90deg,
    rgba(240, 56, 56, 1) 0%,
    rgba(253, 176, 110, 1) 100%
  );
  border: none;
  border-radius: 5px;
  padding: 6px;
  color: white;
}
.pad-row {
  padding: 5px;
}
.btn-manage {
  background: white;
  border: none;
  border-radius: 90%;
  margin-left: 10%;
  height: 100%;
}
.icon-size2{
  font-size: 1.3vw;
  width: auto;
  height: auto;
  position: relative;
  top: 10%;
}
::ng-deep .page-item.active .page-link {
  background-color: #f35646;
  border-color: red;
}
.title-dash {
  color: white;
}
.titletext {
  background-color: #f35646;
  padding: 0.5%;
  font-size: 1vw;
}
.mart {
  border-radius: 5px 0 0 0;
  border-right: solid 2px white;
}
.marr {
  border-radius: 0 5px 0 0;
  border-left: solid 2px white;
}
.bor-r {
  border-right: solid 2px white;
}
.bor-l {
  border-left: solid 2px white;
}
.border-list {
  border: solid 1px rgba(0, 0, 0, 0.37);
}
