<div class="d-flex flex-column bd-highlight mb-3 align-items-center">

  <div class="row listbox2">
    <div class="col listbox shadow">
      <div class="row" style="width: 40%;">
        <div class="col card-head align-self-center text-center shadow surway">
          <mat-icon class="icon-size">explore</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col text-center"></div>
        <div class="col text-right text-num"><b>100</b></div>
        <div class="col text-center"></div>
      </div>
      <div class="row" style="margin-bottom:2%">
        <div class="col text-center"></div>
        <div class="col " style="font-size: 2vh;">สอบทั้งหมด</div>
      </div>
    </div>

    <div class="col listbox shadow">
      <div class="row" style="width: 40%;">
        <div class="col card-head align-self-center text-center shadow people">
          <mat-icon class="icon-size">supervisor_account</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col text-center"></div>
        <div class="col text-right text-num"><b>100</b></div>
        <div class="col text-center"></div>
      </div>
      <div class="row" style="margin-bottom:2%">
        <div class="col text-center"></div>
        <div class="col " style="font-size: 2vh;">จำนวนผู้เข้าสอบ</div>
      </div>
    </div>

    <div class="col listbox shadow">
      <div class="row" style="width: 40%;">
        <div class="col card-head align-self-center text-center shadow Cchart">
          <mat-icon class="icon-size">equalizer</mat-icon>
        </div>
      </div>
      <div class="row">
        <div class="col text-center"></div>
        <div class="col text-right text-num"><b>3.41</b></div>
        <div class="col text-center"></div>
      </div>
      <div class="row" style="margin-bottom:2%">
        <div class="col text-center"></div>
        <div class="col " style="font-size: 2vh;">ค่าคะแนนเฉลี่ย</div>
      </div>
    </div>
  </div>

  <div class="row listbox3 shadow text-center">
    <div class="col" style="padding:0">
      <div class="row title-dash">
        <div class="col mart titletext">
          คำถาม
        </div>
        <div class="col titletext marr">
          ประเภทข้อสอบ
        </div>
        <div class="col titletext marr">
          ตัวเลือก
        </div>
        <div class="col titletext marr">
          เฉลย
        </div>
        <div class="col-2 titletext marr">
          จัดการข้อสอบ
        </div>
      </div>

      <div class="row" *ngFor="let list of tests | slice:(page-1)*pageSize : (page-1) * pageSize + pageSize">
        <div class="col border-list pad-row">
          {{list.title}}
        </div>
        <div class="col border-list pad-row">

        </div>
        <div class="col border-list pad-row">

        </div>
        <div class="col border-list pad-row">

        </div>
        <div class="col-2 border-list pad-row">
          <button class="btn-manage" style="margin-left: 0%;">
            <mat-icon class="icon-size2"> search </mat-icon>
          </button>
          <button class="btn-manage ">
            <mat-icon class="icon-size2"> edit </mat-icon>
          </button>
          <button class="btn-manage ">
            <mat-icon class="icon-size2"> delete_forever </mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" style="margin-top: 0.5%;">
    <ngb-pagination *ngIf="count!=0" [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true"
      [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>
