.flex {
  display: flex;
  width: 100%;
}
.search {
  width: 90%;
  height: 8vh;
  background-color: white;
  border-radius: 5px;
}
.listbox {
  margin-top: 1%;
  width: 80%;

  height: auto;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.2);

}
.listbox2 {
  margin-bottom: 1%;
  width: 70%;
  height: auto;
  min-height: 60vh;
  background-color: white;
  border-left: 1px solid rgba(0, 0, 0, 0.2)
}
.rowheight {
  height: 100%;
}
.text1 {
  border-right: solid 2px #f35646;
  height: 100%;
}

::ng-deep .mb-3 {
  margin-bottom: 0 !important;
}

::ng-deep .input-group-text {
  border: none;
  background-color: white;
}

div {
  font-family: "Kanit";
}
.title-dash {
  color: white;
}
.titletext {
  background-color: #f35646;
  padding: 0.5%;
  font-size: 1vw;
}
.mart {
  border-radius: 5px 5px 0 0;
  border-right: solid 2px white;
}
.marr {
  border-radius: 0 5px 0 0;
  border-left: solid 2px white;
}
.bor-r {
  border-right: solid 2px white;
}
.bor-l {
  border-left: solid 2px white;
}

.img {
  border: 2px solid white;
  width: auto;
  height: 90%;
  border-radius: 90%;
  padding-top: 5%;
}
.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.name {
  font-size: 2vw;
}
.role {
  background: linear-gradient(
    90deg,
    rgba(57, 224, 219, 1) 0%,
    rgba(13, 146, 24, 1) 100%
  );
  border-radius: 5px;
  color: white;
  padding: 0.4%;
  width: 10%;
  font-size: 1.1vw;
}
.bor-b{
  border-bottom: 1px gray solid;
  padding: 0.4%;
}
.btn {
  background: linear-gradient(
    90deg,
    rgba(240, 56, 56, 1) 0%,
    rgba(253, 176, 110, 1) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1vw;
}
.shadowbox1{
  box-shadow:
  2px 2px 0px 1px rgba(0, 0, 0, 0.2);
}
.shadowbox2{
  box-shadow:
  2px 2px 0px 1px rgba(0, 0, 0, 0.2);
}
.answer{
  margin-left: 10%;
}

.right-side{
  border:2px solid white;
  height: auto;
  min-height: 30vh;
}

.right-box{
  position: sticky;
  top: 0;
  right: 0;
  width: 30%;
  background-color: black;
  height: 100vh;
}
