<div class="d-flex bd-highlight mb-3 align-items-center">

  <div class="listbox2 shadowbox1 align-self-center justify-content-center" style="margin-left: 5%; margin-right: 5%;">
    <div class="row title-dash">
      <div class="col titletext">
      </div>
    </div>

    <div class="row">
      <br>
    </div>

    <!-- body -->
    <div class="row" style="padding:2%">
      <div class="col text-center">
        <h1>{{title}}</h1>
      </div>
    </div>

    <div *ngFor="let list of elist | slice:(page-1)*pageSize : (page-1) * pageSize + pageSize">

      <!-- body -->
      <div class="row" style="padding-bottom: 10vh;">
        <div class="col text-center" [innerHTML]="list.question">

        </div>
      </div>
      <div class="row" style="padding:2%">
        <!-- 1 -->
        <div class="col">
          <div class="row">
            เลือกคำตอบ
          </div>
          <div class="row">
            <br>
          </div>
          <div class="row" *ngFor="let item of list.answer ; let j = index;">
            <div class="form-check" *ngIf="list.type=='อัตนัยแบบสั้น'">
              <input class="form-check-input" type="text">
              <label class="form-check-label" for="flexRadioDefault1">
                {{item.answer}}
              </label>
            </div>
            <div class="form-check" *ngIf="list.type=='อัตนัยแบบยาว'">
              <input class="form-check-input" type="textarea">
              <label class="form-check-label" for="flexRadioDefault1">
                {{item.answer}}
              </label>
            </div>
            <div class="form-check" *ngIf="list.type=='ปรนัยแบบถูก-ผิด'">
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
              <label class="form-check-label" for="flexRadioDefault1">
                {{item.answer}}
              </label>
            </div>
            <div class="form-check" *ngIf="list.type=='ปรนัยแบบเลือกตอบ'">
              <input class="form-check-input" type="checkbox">
              <label class="form-check-label" for="flexRadioDefault1">
                {{item.answer}}
              </label>
            </div>
            <div class="form-check" *ngIf="list.type=='จับคู่ความสัมพันธ์'">
              <div class="col-4"><input class="form-control" type="text" placeholder="คำตอบ" [(ngModel)]="item.answer">
              </div>
              <div class="col-4"><input class="form-control" type="text" placeholder="คำตอบ"
                  [(ngModel)]="item.answer"><br></div>
            </div>
            <div class="form-check" *ngIf="list.type=='เรียงลำดับเหตุการณ์'">
              <div class="col-4">
                <input class="form-control" type="text" placeholder="คำตอบ" [(ngModel)]="item.answer"><br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" style="padding:2%">
        <div class="col text-right">
          <button class="btn" (click)="checkcount()">ถัดไป</button>
        </div>
      </div>

    </div>
    <div>
      <ngb-pagination *ngIf="count!=0" [collectionSize]="count" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
    </div>


  </div>

  <div class="flex-shrink-1 right-box" >
    <div class="row text-center" style="padding: 10%;">
      <div class="col right-side">
        HI
      </div>
    </div>
  </div>

</div>
