.flex {
  display: flex;
  width: 100%;
}
.search {
  width: 90%;
  height: 8vh;
  background-color: white;
  border-radius: 5px;
}
.listbox {
  margin-top: 2%;
  width: 90%;
  height: auto;
  background-color: white;
  border-radius: 5px;
}
.listbox2 {
  margin-top: 2%;
  width: 90%;
  height: 50vh;
  background-color: #ffc0ba;
  border-radius: 5px;
}
.rowheight {
  height: 100%;
}
.text1 {
  border-right: solid 2px #f35646;
  height: 100%;
}

::ng-deep .mb-3 {
  margin-bottom: 0 !important;
}

::ng-deep .input-group-text {
  border: none;
  background-color: white;
}

div {
  font-family: "Kanit";
}
.title-dash {
  color: white;
}
.titletext {
  background-color: #f35646;
  padding: 0.5%;
  font-size: 1vw;
}
.mart {
  border-radius: 5px 5px 0 0;
  border-right: solid 2px white;
}
.marr {
  border-radius: 0 5px 0 0;
  border-left: solid 2px white;
}
.bor-r {
  border-right: solid 2px white;
}
.bor-l {
  border-left: solid 2px white;
}
.head-text{
  color: #f35646;
  font-size: 1.8vw;
}
.body-text{
  font-size: 1vw;
}
.btn {
  background: linear-gradient(
    90deg,
    rgba(240, 56, 56, 1) 0%,
    rgba(253, 176, 110, 1) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1vw;
}
.btn:hover {
  background: linear-gradient(
    90deg,
    rgb(219, 18, 18) 0%,
    rgb(233, 143, 64) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1vw;
}
.btnplus {
  background: linear-gradient(
    90deg,
    rgb(4, 216, 61) 0%,
    rgb(152, 255, 123) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5vw;
  width: 2.5vw;
}
.btnplus:hover {
  background: linear-gradient(
    90deg,
    rgb(20, 131, 0) 0%,
    rgb(18, 243, 70) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5vw;
  width: 2.5vw;
}
.btnnegative {
  background: linear-gradient(
    90deg,
    rgba(240, 56, 56, 1) 0%,
    rgba(253, 176, 110, 1) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5vw;
  width: 2.5vw;
}
.btnnegative:hover {
  background: linear-gradient(
    90deg,
    rgb(219, 18, 18) 0%,
    rgb(233, 143, 64) 100%
  );
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.5vw;
  width: 2.5vw;
}
.row{
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.imagebg{
  height:auto; background-size:cover; width:auto;
  background-image:url('../../../assets/image/backgroundorg.png');
  background-position:50% 50%;
}
.box-menu{
  position:absolute;
  right: 1%;
  top: 50%;
}
