<div class="d-flex flex-column bd-highlight mb-3 align-items-center imagebg">

  <div class="listbox shadow">

    <div class="row" style="padding:1%;">
      <div class="col-2 head-text">
        สร้างข้อสอบ
      </div>
    </div>

    <div class="row" style="padding:1%;">
      <div class="col align-self-center">
        <div class="input-group mb-3 text-center">
          <span class="input-group-text body-text">ชื่อข้อสอบ</span>
          <input type="text" class="form-control body-text" [(ngModel)]="title">
        </div>
      </div>

      <div class="col-2 align-self-center">
        <div class="input-group mb-3 text-center">
          <span class="input-group-text body-text">เวลา</span>
          <input type="text" class="form-control body-text" [(ngModel)]="timecount">
          <span class="input-group-text body-text">นาที</span>
        </div>
      </div>

      <div class="col-3 align-self-center">
        <div class="input-group mb-3 text-center">
          <span class="input-group-text body-text">เกณฑ์การผ่าน</span>
          <input type="text" class="form-control body-text" [(ngModel)]="rate">
          <span class="input-group-text body-text">เปอร์เซนต์</span>
        </div>
      </div>

      <div class="col-1 text-center">
        <button class="btn" (click)="Update()">บันทึก</button>
      </div>
    </div>

  </div>

  <div class="listbox shadow" *ngFor="let list of elist ; let j = index;">
    <div class="box-menu">
      <button class="btnplus" (click)="testadd(j)">+</button>
      <br>
      <br>
      <button class="btnnegative" (click)="removeadd(j)">-</button>
    </div>

    <div class="row" style="padding:1%;">
      <div class="col-2 align-self-center">
        <div class="input-group mb-3 text-center">
          <span class="input-group-text body-text">ข้อที่ {{j+1}}</span>
        </div>
      </div>

      <div class="col-2 align-self-center">
        <div class="input-group mb-3 text-center">
          <span class="input-group-text body-text">คะแนน</span>
          <input type="number" class="form-control body-text" [(ngModel)]="list.point">
        </div>
      </div>
    </div>

    <div class="row" style="padding:1%;">
      <div class="col align-items-center">
        <angular-editor [(ngModel)]="list.question" [config]="config"></angular-editor>
      </div>

    </div>

    <div class="row" style="padding:1%;">
      <div class="col">
        <h5 class="head-text">คำตอบ</h5>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-4 input-group mb-3">
          <label class="input-group-text">ประเภทคำตอบ</label>
          <select class="form-select" [(ngModel)]="list.type" (change)="reset(list.type)">
            <option selected value="อัตนัยแบบสั้น">อัตนัยแบบสั้น</option>
            <option value="อัตนัยแบบยาว">อัตนัยแบบยาว</option>
            <option value="ปรนัยแบบถูก-ผิด">ปรนัยแบบถูก-ผิด </option>
            <option value="ปรนัยแบบเลือกตอบ">ปรนัยแบบเลือกตอบ</option>
            <option value="เติมคำ">เติมคำ</option>
            <option value="จับคู่ความสัมพันธ์">จับคู่ความสัมพันธ์ </option>
            <option value="เรียงลำดับเหตุการณ์">เรียงลำดับเหตุการณ์</option>
          </select>
        </div>
        <div class="col" *ngIf="list.type!='อัตนัยแบบสั้น' && list.type!='อัตนัยแบบยาว'">
          <button class="btnplus" (click)="addForm((j))">+</button>&nbsp;<button class="btnnegative"
            (click)="removeForm((j))">-</button>
        </div>
      </div>

      <br>
      <div class="row" *ngFor="let item of list.answer ; let i = index;">

        <div class="col-1 text-center">{{i+1}}.</div>
        <div class="col">
          <div class="body-text row" *ngIf="list.type=='อัตนัยแบบสั้น'">
            <div class="col-4">
              <input class="form-control" type="text" placeholder="คำตอบ" [(ngModel)]="item.answer">
              <br>
            </div>
          </div>

          <div class="body-text row" *ngIf="list.type=='อัตนัยแบบยาว'">
            <div class="col-5">
              <textarea class="form-control" placeholder="คำตอบ" [(ngModel)]="item.answer" rows="4"></textarea>
            </div>
          </div>

          <div class="body-text row" *ngIf="list.type=='ปรนัยแบบถูก-ผิด'">
            <div class="col-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="item.check">
                  </div>
                </div>
                <input type="text" placeholder="คำตอบ" class="form-control" aria-label="Text input with checkbox"
                  [(ngModel)]="item.answer">
              </div>
              <br>
              <!--<input class="form-control" type="text" [(ngModel)]="item.answer">!-->
            </div>
          </div>

          <div class="body-text row" *ngIf="list.type=='ปรนัยแบบเลือกตอบ'">
            <div class="col-4">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <input type="checkbox" aria-label="Checkbox for following text input" [(ngModel)]="item.check">
                  </div>
                </div>
                <input type="text" placeholder="คำตอบ" class="form-control" aria-label="Text input with checkbox"
                  [(ngModel)]="item.answer">
              </div>
              <br>
              <!--<input class="form-control" type="text" [(ngModel)]="item.answer">!-->
            </div>
          </div>

          <div class="body-text row" *ngIf="list.type=='เติมคำ'">
            <div class="col-4">
              <input class="form-control" placeholder="คำตอบ" type="text" [(ngModel)]="item.answer">
              <br>
            </div>
          </div>

          <div class="body-text row" *ngIf="list.type=='จับคู่ความสัมพันธ์'">
            <div class="col-4"><input class="form-control" type="text" placeholder="คำตอบ" [(ngModel)]="item.answer">
            </div>
            <div class="col-4"><input class="form-control" type="text" placeholder="คำตอบ"
                [(ngModel)]="item.answer"><br></div>
          </div>

          <div class="body-text row" *ngIf="list.type=='เรียงลำดับเหตุการณ์'">
            <div class="col-4">
              <input class="form-control" type="text" placeholder="คำตอบ" [(ngModel)]="item.answer"><br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
    </div>

  </div>
  <div style="margin-top: 0.5%;">
    <!--<ngb-pagination *ngIf="count!=0" [collectionSize]="count" [(page)]="page" [pageSize]="pageSize" [maxSize]="5"
      [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>!-->
  </div>

</div>
